<div class="bg-body flex flex-col h-screen">
  <app-topbar class="h-28 bg-bar"></app-topbar>
  <div class="flex flex-row grow">
    <app-sidebar class="w-40 bg-bar"></app-sidebar>
    <div class="grow"></div>
  </div>
</div>


<!-- <body class="w-auto h-auto bg-gradient-to-b from-green-300 to-green-600" >

<div>
  <h1 class="w-auto h-12 bg-black pb-4 text-3xl text-green-300 text-center text-opacity-70 font bold"> Welcome to Storks website!</h1>
  <div class="flex">
    <div
      class="w-40 h-screen bg-slate-600"
      style="transition: all 1s"
      [ngStyle]="{ width: sideBoxWidth }"
    >
      <div class="grid-container overflow-hidden whitespace-nowrap">
        <div class="grid-item h-12 p-3 rounded-full bg-sky-400">
          <button>item 1</button>
        </div>
        <div class="grid-item h-12 p-3 rounded-full bg-sky-400">
          <button>item 2</button>
        </div>
        <div class="grid-item h-12 p-3 rounded-full bg-sky-400">
          <button>item 3</button>
        </div>
        <div class="grid-item h-12 p-3 rounded-full bg-sky-400">
          <button>item 4</button>
        </div>
        <div class="grid-item h-12 p-3 rounded-full bg-sky-400">
          <button>item 5</button>
        </div>
        <div class="grid-item h-12 p-3 rounded-full bg-sky-400">
          <button>item 6</button>
        </div>
        <div class="grid-item h-12 p-3 rounded-full bg-sky-400">
          <button>item 7</button>
        </div>
        <div class="grid-item h-12 p-3 rounded-full bg-sky-400">
          <button>item 8</button>
        </div>
      </div>
    </div>

<p class="text-8xl font-bold underline decoration-blue-500 decoration-wavy decoration-5 underline-offset-8 note">a little note </p>
<div class="wrapper" >
  <div class="flex flex-col" style="float: right">
    <h1 > A picture says a 1000 words</h1>
    <img class="img-logs" src="assets/Allstar rank 1.png" alt="all stars healer, warcraftlogs">
  </div>
</div>

    <a
      (click)="onButtonClick(storkMode)"
      class="bg-red-500 hover:bg-blue-700 text-white h-12 font-bold py-2 px-4 rounded-full"
    >
      {{ storkMode }}
    </a>
    <p
      class="text-8xl font-bold underline decoration-blue-500 decoration-wavy decoration-5 underline-offset-8 note"
    >
      a little note
    </p>
  </div>
</div> -->
